@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




  
*,:root,html,body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}


@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}